<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BenzGorokuSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BenzGorokuSearch.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLocationY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateCheckDate" serializeAs="String">
                <value>1990-01-01</value>
            </setting>
        </BenzGorokuSearch.Properties.Settings>
    </userSettings>
</configuration>
